<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <settings>
      <setting name="Alyas.Text2Speech.ApiKey" value="[Your API Key here]"/>
      <setting name="Alyas.Text2Speech.Region" value="[Your region here]"/>
      <!--Replace the voice name if needed-->
      <setting name="Alyas.Text2Speech.VoiceName" value="en-US-AvaNeural"/>
    </settings>
    <pipelines>
      <initialize>
        <processor patch:before="processor[@type='Sitecore.Mvc.Pipelines.Load.InitializeGlobalFilters, Sitecore.Mvc']" type="Alyas.Feature.Text2Speech.Pipelines.ApplicationStart, Alyas.Feature.Text2Speech" />
      </initialize>
    </pipelines>
  </sitecore>
</configuration>
